body{
    font-size:22px;
    font-family: sans-serif;
    width:900px;
    margin:auto;
    background-image:url(imagem/bg.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: repeat;
    background-position: right bottom;
}
p{
    line-height: 1.5;
}
.img-html {
    float:left;
}
.img-css{
    float:right;
}